<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content>
      <img ng-src="{{chat.picture}}">
      <div>
        <b style="font-size:24px;padding:0 0 0 15px;">{{chat.name}}</b>
      </div>
      <div style="padding:0 0 0 15px;">
        <p>123 Apple St, Austin, TX 78967</p>
        <table>
          <col width="130">
          <tr>
            <td>3 Bedroom</td>
            <td>2 Bath</td>
          </tr>
          <tr>
            <td>1925 sqft</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
        <p>Brand new apartment, completely renovated in 2012 and tastefully
           furnished, with attention to details, modern colours, designer
           lighting and high quality accessories. Located in the centre of
           Trastevere, perfect for those looking for a functional and high
           standard accommodation. </p>

      </div>
      <center>
        <button class="button button-large button-balanced">
          You quailfy for this place
        </button>
      </center>
  </ion-content>
</ion-view>
