<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
        <section class="login-container">
          <center><img id="img-a" src="img/logo.png"></center>
          <center>
            <form>
              <div class="transparent-a" style="">
                <input type="text" class="inputForm" name="username" placeholder="username"><br />
                <input type="password" class="inputForm" name="password" placeholder="password"><br />
              </div>
              <a class="btn" href="#/tab/dash" style="color:white;margin-bottom:3px;">Login</a>
              <a class="btn" href="#/tab/dash" style="color:white;margin-bottom:3px;">Signup</a>
              <a class="btn" href="#/tab/dash" style="color:white;margin-bottom:3px;">Continue as Guest</a>
            </form>
          <center>
        </section>
    </ion-content>
</ion-view>
