<ion-view view-title="Resources">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-image">
        <img src="/img/redhouse.jpg" />
      </div>
      <a href="http://www.austintexas.gov/page/income-limits" class="item item-icon-left" target="none">
        <i class="icon ion-alert"></i>
        Income Limits
      </a>

      <a href="http://www.austintexas.gov/department/homebuyer-assistance" class="item item-icon-left" target="none">
        <i class="icon ion-home"></i>
        Home Buyer Assistance
      </a>

      <a href="http://www.austintexas.gov/department/renter-assistance" class="item item-icon-left" target="none">
        <i class="icon ion-ios-home"></i>
        Renter Assistance
      </a>

      <a href="http://www.austintexas.gov/department/down-payment-assistance" class="item item-icon-left" target="none">
        <i class="icon ion-cash"></i>
        Down Payment Assistance
      </a>

      <a href="http://www.austintexas.gov/housingsmarts" class="item item-icon-left" target="none">
        <i class="icon ion-lightbulb"></i>
        HousingSmarts
      </a>
    </div>

  </ion-content>
</ion-view>
