<ion-view view-title="Qualify">
  <ion-content class="padding">

    <div class="list card" ng-hide="modal">
      <div class="item item-divider">
        {{ status }}
      </div>
      <a href="#/tab/map" class="item item-icon-left">
        <i class="icon ion-map"></i>
        View Map
      </a>

      <a href="#/tab/resources" class="item item-icon-left">
        <i class="icon ion-clipboard"></i>
        Resources
      </a>
    </div>

    <div class="list card" ng-show="main">
      <div class="item item-divider">
        Step 1: Qualify!
      </div>
      <div class="item item-text-wrap">
        <p>
          The first step is to find out if you qualify for Affordable Housing.
        </p>
        <button class="button button-clear button-positive more-info-btn" ng-click="showMoreInfo()">
          {{more_info_link}}
        </button>
      </div>
      <div class="item item-body more-info" ng-hide="more_info">
        <p>
          Check your annual household income against the latest income limits for HOME and CDBG respectively set by the U.S. Department of Housing and Urban Development (HUD). The numbers are based on the HUD median family income (called MFI for short) in the Austin-Round Rock-San Marcos area. Learn more about the methodology for setting income limits, or read more about rent and income limits issued by the Texas Department of Housing and Community Affairs.
        </p>
      </div>

      <div class="item item-body">
        <div class="list list-inset">
          <form ng-submit="qualifyIncome(income, household)">
            <label class="item item-input">
              <input type="number" placeholder="# in Household" ng-model="household" required>
            </label>
            <label class="item item-input">
              <input type="number" placeholder="$ Annual Household Income" ng-model="income" required>
            </label>
            <button type="submit" class="button button-block button-energized">
              Qualify
            </button>
          </form>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
