<ion-view view-title="Settings">
  <ion-content  class="padding">
    <div class="list card">
      <div class="item item-image">
        <img src="/img/bluehouse.jpg" />
      </div>
      <div class="item item-avatar">
        <img src="/img/adam.jpg">
        <h2>Billy Bob</h2>
      </div>

      <div class="item item-body">
        Notifications
        <label class="toggle">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
      </label>
      </div>

    </div>

  </ion-content>
</ion-view>
