<ion-view view-title="Hives">
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <div class="item item-image dash-img">
        <img src="/img/yellowhouse.jpg" />
      </div>
      <a href="#/filters" class="button button-block icon-right ion-ios-settings filter-menu">Filters </a>
      <p class="button button-block">Hives found: {{resultsFound}}</p>
      <div class="item item-body item-icon-right dash-item" ng-repeat="place in places" type="item-text-wrap">
        <div class="property-card">
          <img class="item item-avatar property-avatar" ng-src="{{place.img}}"/>
          <a class="list card" href="#/places/{{place.id}}">
            <h2>{{place["Project Name"]}}</h2>
            <p>{{place.Address}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </a>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
