<ion-view view-title="Hives">
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <a href="#/filters" class="button button-full icon-right ion-ios-settings filter-menu">Filters </a>
      <div class="item item-icon-right" ng-repeat="place in places" type="item-text-wrap">
        <img class="item item-avatar" style="max-height: 75px;" ng-src="{{place.img}}"/>
        <a class="list card" href="#/places/{{place.id}}">
          <h2>{{place["Project Name"]}}</h2>
          <p>{{place.Address}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
