body, div.scroll, ion-content {
    background-color: #e4f0f2!important;
    color: #69160f!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.nav-bar-title,
div.item-divider {
  color: #69160f!important;
}

ion-header-bar, div.tab-nav, div.item-divider {
  background-color: #fff!important;
}

div.item-divider {
  text-align: center;
}

.spinner {
  color: #e4f0f2!important;
}

.more-info-btn {
    padding-left: 0;
}

.qualify-btn, .update-btn {
    float: right;
    width: 65%;
}

.filter-menu {
    margin-top: -6px;
    margin-bottom: -6px;
}

button, a.button {
  background-color: #F29B0F!important;
}

.back-button {
  background: transparent!important;
  color: #F29B0F!important;
}

.ion-refresh {
  color: #F29B0F!important;
}

.filter-menu {
  color: #fff!important;
}

input[type=text], input[type=number] {
  text-align: left;
}

img {
    width: 100%;
    height: auto;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efad62), color-stop(100%,#f7d47c));
    background: -webkit-linear-gradient(top, #efad62 0%,#f7d47c 100%);
}
.transparent-a {
  zoom: 1;
  filter: alpha(opacity=35);
  opacity: 0.35;
}
.inputForm {
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    width: 250px;
    behavior:url("border-radius.htc");
}

#RightColumn {
    background-color:White;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.button-bar.button-pill {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-radius: 30px;
}

.button-bar.button-pill .button:first-child {
  -webkit-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
}

.button-bar.button-pill .button:last-child {
  -webkit-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
}

.btn {
  display:block;
  height: auto;
  width: 250px;
  border-radius: 15px;
  background-color: #000;

}
